{% extends "flynotebase.htm" %}
{% block content %}	

	<h2>Dashboard for {{ user.username }}</h2><br>
	<h3>Aircraft</h3><br>
	<table class="table">
		<tr>
		<th>Name</th>
		<th>Make</th>
		</tr>
	{% for r in aircraft_rs %}
		<tr>
			<td><a href={% url 'show_ac' r.aircraft.id %}>{{ r.aircraft.name }}</a></td>
			<td>{{ r.aircraft.make }}</td>
		</tr>
		{% endfor %}
	</table>
	<p><h2>Airport info for {{ airfield }}</h2></p>
	<form action="{% url 'dashboard' %}" method="get">
		{% csrf_token %}
		{{ airfield_form }}
	<input type="submit" value="Change">
    </form>
    <table class="table">
		<tr>
			<th>Item</th>
			<th>Value</th>
		</tr>
		{% for i in af_items %}
		<tr class="{{ i.color }}">
			<td>{{ i.name }}</td>
			<td>{{ i.value }}</td>
		</tr>
		{% endfor %}
		</table>


	{% if xw %}
	<br>
        <ul>
         <li>Crosswind Component: {{ xw.speed }}</li>
	 {% if xw.direct %}
	 <li>DIRECT</li>
	 {% endif %}
	 {% if xw.tailwind %}
	 <li>TAILWIND!!</li>
	 {% endif %}
	</ul>
	{% endif %}
	<br>
	{% if min_alerts.wind %}
	<br><b>Below personal minimums!!</b> Wind too high!<br>
	{% endif %}
	{% if min_alerts.crosswind %}
	<br><b>Below personal minimums!!</b> Crosswind component too high!<br>
	{% endif %}
	{% if gust_factor %}
	<br><b>Gust Factor: {{ gust_factor }} !!</b>
	{% endif %}
	{% if err %}
	<br>Error: {{ err }}
	{% endif %}
	<p><h2>Pilot info for {{ user.username }}</h2></p>
	<table class="table">
		<tr>
			<th>Item</th>
			<th>Value</th>
			<th>Notes</th>
		</tr>
		{% for i in pilot_items %}
		<tr class="{{ i.color }}">
			<td>{{ i.name }}</td>
			<td>{{ i.value }}</td>
			<td>{{ i.notes }}</td>
		</tr>
		{% endfor %}
		
		<tr>
			<td>Pressure Altitude</td>
			<td>{{ pressure_altitude }}</td>
		</tr>
		
	</table>
	
	
	<br>Density Altitude: {{ density_altitude }}
	<br>Estimated Cloudbase: {{ est_cloudbase }}
	<br>
	<form action={% url 'dashboard' %} method="post">
          {% csrf_token %}
	  {{ xwform.as_table }}
          <input type="submit" value="Check Crosswind">
	</form><br>
	<h2>Add New Waypoint:</h2>
	<form action={% url 'convert_coordinates' %} method="post">
		{% csrf_token %}
		{{ gps_form.as_table }}
		<input type="submit" value="Convert Coords">
	</form><br>
	{% if last_waypoints %}
	<h2>Waypoints:</h2>
	<table>
		<tr>
			<th>Name</th>
			<th>Created on</th>
		</tr>
		{% for wp in last_waypoints %}
		<tr>
			<td><a href={% url 'show_waypoint' wp.id %}>{{ wp.name }}</a></td>
			<td>{{ wp.created_at }}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
	<ul>
	{% for k in metar_l %}
	<li>{{ k.key }}: {{ k.value }}</li>
	{% endfor %}
	</ul>
	<p><a href={% url 'add_ad' %}>Add AD</a></p>
	<p><a href={% url 'add_ad_ac' %}>Add AD to aircraft</a></p>
	{% endblock %}
