{% extends "flynotebase.htm" %}

{% block content %}
<h3>Waypoint:<br></h3>

<form action={% url 'show_waypoint' waypoint.id %} method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
            <input type="submit" value="Submit">
</form>
<br>
<h2>Garmin Strings</h2>

<ul>
    <li>Lats</li>
    {% for l in lat_strings %}
    <li>regex: {{ l.regex }} group: {{ l.group }}</li>
    {% endfor %}
    <li>Lons:</li>
    {% for l in lon_strings %}
    <li>regex: {{ l.regex }} group: {{ l.group }}</li>
    {% endfor %}
</ul>
<h2>Other:</h2>
<p>Created at: {{ waypoint.created_at }}</p>
<p>Updated at: {{ waypoint.updated_at }}</p>
<p>Input String: {{ waypoint.input_string }}</p>
<a href={% url 'dashboard' %}><----Back to Dashboard</a>
{% endblock %}

