{% extends "flynotebase.htm" %}

{% block content %}
<h3>Waypoint:<br></h3>

<form action={% url 'show_waypoint' waypoint.id %} method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
            <input type="submit" value="Submit">
</form>
<br>
<h2>Garmin Strings</h2>

<table class="table">
    <tr>
        <th>regex</th>
        <th>group</th>
        <th>in-string</th>
    </tr>
    <tr>
        <td>Lats</td>
        <td></td>
        <td></td>
    </tr>
    {% for l in lat_strings %}
    <tr>
        <td>{{ l.regex }}</td>
        <td>{{ l.group }}</td>
        <td>{{ l.instr }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>Lons</td>
        <td></td>
        <td></td>
    </tr>
    {% for l in lon_strings %}
    <tr>
        <td>{{ l.regex }}</td>
        <td>{{ l.group }}</td>
        <td>{{ l.instr }}</td>
    </tr>
    {% endfor %}
    
</table>
<h2>Other:</h2>
<p>Created at: {{ waypoint.created_at }}</p>
<p>Updated at: {{ waypoint.updated_at }}</p>
<p>Input String: {{ waypoint.input_string }}</p>
<a href={% url 'dashboard' %}><----Back to Dashboard</a>
{% endblock %}

